<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="auth-container">

    <div class="auth-box">

        <h1>Login - Usman Hostel</h1>

        <p>Enter your account details</p>

        <!-- Flash Message -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="message">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <!-- LOGIN FORM -->
        <form action="/login" method="POST">

            <input type="email"
                   name="email"
                   placeholder="Enter Email"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password"
                   required>

            <button type="submit">Sign In</button>

        </form>

        <a href="/signup">Create New Account</a>

    </div>

</div>

</body>
</html>
